body {
    background-color: black;
    color: white;
}

#main-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

main {
    flex: 1;
}

h4 {
    text-align: left;
}

.indented {
    padding-left: 40px;
    padding-top: 10px;
}

.command-details {
    padding: 10px;
}

#outline-sidebar{
    display: flex;
    flex-direction: column;
    width: max-content;
    margin: 0;
    align-self: start;
    border-radius: 8px;
}

#command-content {
    padding-left: 10px;
    flex: 1;
}

.ms-6 {
    margin-left: 25px;
}