body {
    background-color: black;
    color: white;
}

main {
    padding-top: 20px;
    padding-left: 10px;
    display: flex;
}

h4 {
    text-align: left;
}

.indented {
    padding-left: 40px;
    padding-top: 10px;
}

.command-details {
    padding: 10px;
}

#outline-sidebar{
    flex-direction: column;
    width: max-content;
}

#command-content {
    overflow-y: scroll;
    padding-left: 10px;
    flex: 1;
}

.ms-6 {
    margin-left: 25px;
}