body {
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 5px;
    padding-top: 15px;
}

.top-nav {
    padding: 10px;
    margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}


.nav-title {
    font-weight: bold;
    padding-top: 7px;
    padding-right: 10px;
}