.commands {
    background-color: #111;
    color: white;
    padding-top: 0.5rem;
}

.commands-sidebar {
    padding-left: 2rem;
    font-family: Montserrat;
    padding-right: 6rem;
    border-right: 3px solid #e8064d;
}

.commands-sidebar .aside-link {
    padding-bottom: 0.25rem;
}

.commands article {
    padding-left: 1rem;
    width: 75%;
}

.commands h3 {
    font-size: 2rem;
}

.commands .pre-commands {
    font-size: 1.5rem;
    font-family: Montserrat;
}
