@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

@font-face {
    font-family: aero;
    src: url("./fonts/aero.ttf");
}

.aero-font {
    font-family: aero;
}

.aero-font .aero-red {
    color: #e8064d;
}
